* {
    box-sizing: border-box;
  }
  
  html, body {
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    height: 100%;
    margin: 25px;
    text-align: center;
    color: #222;
    background-color: #FBE8A6;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  h1 {
    font-weight: bold; 
  }

  .forms {
    display: flex;
    justify-content: space-evenly;

  }
  
  p {
    font-size:20px;
  }
  
  form {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #F4976C;
    display: inline-block;
    width: 100%;
    max-width: 340px;
    border-radius: 5px;
  }
  
  input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 16px;
  }
  
  input[type=submit] {
    font-size: 16px;
    border-radius: 3px;
    background-color: #E4F1FE;
    border: 1px solid grey;
    box-shadow: 2px 2px #999;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #FBE8A6;
  }
  
  code {
    font-family: monospace;
    font-size: 18px;
    background-color: #FBE8A6;
    padding: 2px;
  }

  footer {
    margin-top: auto;
    text-align: center;
    flex-shrink: 0;
  }